:root {
	--main-background: hsl(233, 47%, 7%);
	--card-background: hsl(244, 38%, 16%);
	--accent: hsl(277, 64%, 61%);

	--main-header-stats: hsl(0, 0%, 100%);
	--main-paragraph: hsla(0, 0%, 100%, 0.75);
	--stats-heading: hsla(0, 0%, 100%, 0.6);

	--font-header: 'Inter', sans-serif;
	--font-p: 'Lexend Deca', sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

html {
	font-size: 15px;
}

body {
	background-color: var(--main-background);
	height: 100vh;
}

p {
	font-family: var(--font-p);
	color: var(--main-paragraph);
	line-height: 1.6;
	color: var(--main-paragraph);
}

h1 {
	font-family: var(--font-header);
	color: var(--main-header-stats);
}

.accent {
	color: var(--accent);
}

.card {
	display: flex;
	width: 80%;
	margin: 3rem auto;
	flex-direction: column;
	border-radius: 0.5em;
	overflow: hidden;
	background-color: var(--card-background);
}

.filter {
	background-color: var(--accent);
}

.filter img {
	mix-blend-mode: multiply;
	opacity: 0.8;
}

img {
	vertical-align: middle;
	width: 100%;
	/* object-fit: cover; */
}

.card__img {
	/* height: 20rem; */
	/* aspect-ratio: 1 / 1; */
	overflow: hidden;
	/* object-fit: cover; */
}

.card__info {
	display: flex;
	flex-direction: column;
	padding: 2.5rem 2rem;
	gap: 2rem;
}

.card__info--box,
.card__stats--box {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	text-align: center;
}

.card__title {
	font-size: 1.8em;
}

.stat__title {
	color: var(--stats-heading);
	text-transform: uppercase;
	font-size: 0.8em;
}

.stat__number {
	font-family: var(--font-header);
	color: var(--main-header-stats);
	font-size: 1.5em;
	font-weight: 700;
}

.attribution {
	position: relative;
	bottom: 0;
	font-size: 11px;
	text-align: center;
	color: var(--accent);
	margin-bottom: 1.8em;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (min-width: 992px) {
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.card {
		flex-direction: row-reverse;
	}

	.card__img {
		width: 50%;
		overflow: hidden;
	}

	.card__info {
		width: 50%;
		padding: 3rem 3rem;
		justify-content: space-between;
	}

	.card__title {
		font-size: 1.8em;
	}

	.card__desc {
		font-size: 0.8em;
	}

	.card__stats--box {
		flex-direction: row;
	}

	.card__info--box {
		text-align: left;
		align-items: flex-start;
	}

	.card__desc,
	.card__stats--box {
		width: 90%;
	}

	.card__stats--box {
		justify-content: space-between;
	}

	.attribution {
		display: block;
		width: 100%;
		position: absolute;
		bottom: 20px;
		font-size: 11px;
		text-align: center;
	}
}

@media (min-width: 1024px) {
	.card {
		max-width: 80vw;
		/* max-width: 60%; */
	}

	.card__info {
		padding: 3.3rem 3.3rem;
	}

	.card__info--box {
		align-items: flex-start;
	}

	.card__title {
		/* font-size: 2em; */
	}

	.card__desc {
		font-size: 0.8em;
	}
}

@media (min-width: 1250px) {
	.card {
		width: 65vw;
	}

	.card__info {
		padding: 4rem 4rem;
	}
}

@media (min-width: 1440px) {
	.card {
		width: 60vw;
	}

	/* .card__info {
		padding: 4rem 4rem;
	} */
}

/*
@media (min-width: 768px) {
	.card {
		width: 85%;
		max-width: 100%;
		display: flex;
		flex-direction: row-reverse;
		margin: 10rem auto;
	}

	.card__info {
		width: 50%;
		/* padding: 5em 4em 2em 4em; 
		text-align: start;
	}

	.card__stats--box {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.card__stats--box .stat__item {
		margin-top: 0;
	}

	.card__desc,
	.card__stats--box {
		margin-right: 4em;
	}

	.card__title {
		font-size: 2em;
	}

	.card__desc {
		font-size: 0.8em;
	}

	.card__img {
		width: 50%;
	}

	.img {
		height: 100%;
		object-fit: cover;
	}

	.attribution {
		display: block;
		width: 100%;
		position: absolute;
		bottom: 20px;
		font-size: 11px;
		text-align: center;
	}
}

@media (min-width: 1024px) {
	body {
		display: grid;
		place-items: center;
	}

	.card {
		width: 78%;
		margin: 0 auto;
	}

	.card__info {
		padding: 3.6em 3.7em 3.6em 3.6em;
		justify-content: space-between;
	}

	.card__stats--box {
		margin-top: 5.8em;
		margin-right: 5.5em;
	}

	.card__desc {
		width: 90%;
	}
}

@media (min-width: 1440) {
	.card {
		width: 55%;
	}
} */
